<div class="landing-poem">
  <p>I am forever dreaming</p>
  <p>of pristine pines and endless slopes</p>
  <p>to fill my days until the spring</p>
  <p>when its time to bloom, for the daffodil</p>
  <p>and to find this place of great adventure</p>
  <p>i'll have to ask, <em>where's my hill?<em></p>
  <div id="anchor-container">
    <a href="/resorts">
      <input class="button" type="button" value="Explore" />
    </a>
  </div>
  <img src="https://static.kcet.kcet.production.k2.m1.brightspot.cloud/dims4/default/a2e1ef0/2147483647/strip/true/crop/3132x1762+0+0/resize/1440x810!/quality/90/?url=https%3A%2F%2Fimage.pbs.org%2Fcontentchannels%2FDQhaEaX-background-1U3qFyO.png" alt="Awesome sky hovering over snow-covered mountains " /> 
</div>