#app {
  margin: 1em;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.top-bar * {
  font-family: american typewriter, serif;
  color: white;
}

.top-bar {
  background: rgb(199,209,206);
  background: linear-gradient(90deg, rgba(140,116,122,1) 0%, rgba(228,176,112,1) 55%,rgba(199,209,206,1) 100%);
}

.top-bar ul {
  background-color: transparent;
  margin: 0em 1em;
}

.top-bar h1 {
  font-weight: 900;
  font-size: 2.5em;
}

.top-bar .right {
  text-align: right;
  list-style-type: none;
}

.landing-poem {
  font-family: baskerville, serif;
  text-align: center;
}

.landing-poem p {
  margin: 1em 0em;
  font-size: 1.1em;
}

.landing-poem img {
  margin: 0em 0em 5em;
}

#anchor-container {
  display: block;
  margin: 3em 0em 3em;
}

.landing-poem img {
  width: 30em;  
  height: auto;  
  border: thick outset #E4B070;
}

.landing-poem .button {
  background-color: #8c747a;
  color: white;
  padding: 15px 32px;
  font-weight: 600;
}

.landing-poem .button:hover {
  box-shadow: inset 0em 0em 0em 10em rgba(0, 0, 0, 0.1);
}

.state-list {
  font-family: american typewriter, serif;
  list-style-type: none;
}

.state-list h5 {
  font-family: american typewriter, serif;
  font-weight: 600;
  width: 100%;
}

.state-list .button {
  background-color: #8c747a;
  text-align: center;
  color: white;
}

.state-list .button:hover {
  transition: 0.3s;
  color: #e4b071;
  background-color: white;
}

.index-map {
  position: sticky;
  top: 1em;
}

.resort-show-page {
  margin-left: auto;
  margin-right: auto;
  width: 50em;
}

.resort-show-page .resort-information h5 {
  font-family: american typewriter, serif;
  font-weight: 600;
  width: 100%;
  font-size: 2em;
}

.resort-show-page .resort-information p, a {
  font-family: baskerville, serif;
  font-size: 1.5em;
}

.favorite-button .button {
  font-family: baskerville, serif;
  font-weight: 600;
  background-color: #8c747a;
  color: white;
  padding: 15px 32px;
}

.favorite-button .button:hover {
  box-shadow: inset 0em 0em 0em 10em rgba(0, 0, 0, 0.1);
}

.weather-container {
  border: thick inset #8c747a;
  margin: 1em 0em;
  max-width: 100%;
}

.weather-container h5 {
  font-family: american typewriter, serif;
  font-weight: 600;
  width: 100%;
  font-size: 1.5em;
}

.weather-container .weather-tile {
  font-family: baskerville, serif;
}

.weather-container .weather-tile .date {
  background-color: #cacdc6;
  color: black;
}

.custom-form {
  width: 40em;
  margin: 1em;
  margin-left: auto;
  margin-right: auto;
  font-family: baskerville, serif;
}

.custom-form h5 {
  font-family: american typewriter, serif;
  font-weight: 600;
  width: 100%;
  font-size: 2em;
}

.custom-form label {
  font-size: 1.2em;
}

.custom-form input[type=submit] {
  font-family: baskerville, serif;
  font-weight: 600;
  background-color: #8c747a;
  color: white;
  padding: 15px 32px;
  border: none;
}

.custom-form input[type=submit]:hover {
  box-shadow: inset 0em 0em 0em 10em rgba(0, 0, 0, 0.3);
}

.flash {
  color: black;
  font-family: baskerville, serif;
  font-weight: 900;
  text-align: center;
  width: 12em;
  margin: 1em;
  margin-left: auto;
  margin-right: auto;
  background-color: #E4B070;
}

.profile {
  list-style-type: none;
}

.profile h5 {
  font-family: american typewriter, serif;
  font-weight: 600;
  width: 100%;
  font-size: 1.2em;
}

footer {
  margin-top: auto;
  display: flex;
  justify-content: center;
  padding: 5px;
  color: white;
  background-color: #595A67;
  font-family: baskerville, serif;
}


/* #E4B070 - orange sky
#8c747a - darker sky
#C7D1CE - snow
#253726 - tree
#d28b71 - lake reflection of sky
#595A67 - grey from mountain */